/*********************
 * generals styles 
 *********************/


* a:hover {
    text-decoration: none;
}

.p-contentnavigation {
	text-align:right;
	margin-bottom:0px;
}

.wiki-nav {
	border-bottom:1px solid #ddd;
}

#ca-nstab-main, #ca-talk, #ca-edit, #ca-history, #ca-delete, #ca-move, #ca-protect, #ca-watch, #ca-nstab-special, #ca-nstab-mediawiki, #ca-viewsource, #ca-nstab-help, #ca-nstab-template, #ca-form_edit, #ca-nstab-form{
	color:#bbb;
	padding: 14px 15px;
	margin-bottom: -1px;
}

.p-contentnavigation li a:hover {
	text-decoration:none;
	color:#36b;
}

.p-contentnavigation a.selected {
	font-style: normal;
	color: #000;
}

.footer-test {
	margin: auto;
	background-color: #f8f8f8;
	width: 100%;
	border-top:1px solid #e7e7e7;
	margin-top: 70px;
}

#p-search{
	float:left;
}

.navbar-fixed-top{
	position: absolute;
}

#ca-addsection{
	display:none;
}

.navbar-brand {
	border-right: none;
}

.mw-body {
	padding:0px;
}

.navbar-personaltools {
	border-right: 1px solid #e7e7e7;
}

.p-contentnavigation li.selected {
	border: 1px solid #ddd;
	border-bottom:1px solid #fff;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

/*********************
 * styles pour la vue d'un tuto (home page )
 *********************/

.project-location {
	font-size: 11px;
	color:#aaa;
	line-height: 1px;
}

.project-thumbnail img {
	width:100%;
	height: 100%;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.project-card{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border:1px solid #eeeeee;
	border-bottom:3px solid #eeeeee;
}

.project-card-content {
	padding: 3px 15px 15px 15px;
}

.project-author-picture img{
	width:40px;
	height:40px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

.project-author{
	background: #f8f8f8;
	padding: 10px;
	height:60px;
	border-top: 1px solid #ccc;
	cursor:pointer;
}

.project-author:hover{
	background: #fff;
}

.project-author-info{
	padding-left:10px;
	float:left;
}


/*********************
 * styles pour la description d'un autheur sur les page tuto
 *********************/

.author-name{
	font-weight:bold;
	font-size:14px;
}

.author-popularity{
	font-size:13px;
	color:#aaa;
}

.author-popularity span{
	padding-right:10px;
}


/*********************
 * styles pour la vue d'un tuto (home page )
 *********************/

.project-category{
	text-align:center;
	border:1px solid #ccc;
	background:#fff;
	padding: 22px 0px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-size:16px;
	cursor:pointer;
}

.project-category:hover{
	background-color:#e74c3c;
	border:1px solid #e74c3c;
}

.mw-body .project-category:hover a.extiw:link  {
	color:#fff;
}

.mw-body .project-category a.extiw:link {
	color:#555;
}


.project-author-picture {
	width: 40px;
	margin: auto;
	float: left;
}

.project-byline {
	font-size:13px;
	color:#aaa;
}

.featured-thumbnail img {
	width:100%;
	height: 100%;
}

.featured-author-picture img{
	width:60px;
	height:60px;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
}

.featured-project{}

.featured-thumbnail img {
	border-left:1px solid #e7e7e7;
	border-top:1px solid #e7e7e7;
	border-bottom:1px solid #e7e7e7;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}


.featured-title{
	margin-top:13%;
}

.featured-location{
	width: 120px;
	display: -webkit-inline-box;
	padding-right: 10px;
	color: #aaa;
}

.featured-author-info {
	float: left;
	padding-left: 20px;
}

.featured-author-picture{
	float: left;
}

.featured-card-footer{
	height:20px;
}

.featured-author{
	margin-top: 30px;
	border-top: 1px solid #e7e7e7;
	padding-top: 20px;
}

.featured-author-name{
	font-weight: bold;
	font-size: 17px;
	margin-top: 7px;
}

.featured-author-popularity{
	font-size: 14px;
	color: #aaa;
}

.featured-card {
	height: 429px;
	padding: 0px 30px;
	border-right:1px solid #e7e7e7;
	border-top:1px solid #e7e7e7;
	border-bottom:1px solid #e7e7e7;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.PotD-box{
	background-color:#e74c3c;
	color:#fff;
	padding:5px 10px;
	width:150px;
	text-align:center;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

.contribute-hp{
	background-image :url('images/bg-contribute.jpg');
	color:#fff;
	padding:80px 30px;
	text-align:center;
	margin-top:80px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.contribute-hp h3{
	font-size:35px;
}

.tuto-listing h2{
	font-size:18px;
}

.contribute-hp p{
	font-size:17px;
}

.marketing-section-hp {
	background:#333;	
	background-image :url('images/wood-bg-black.jpg');
	color:#fff;
	padding:90px 30px;
	text-align:left;
}

.marketing-section-hp h1{
	font-size:45px;
}

.marketing-section-hp p{
	font-size:17px;
}

.slider-section-hp {
	background-image :url('images/bg-guitare.jpg');
	background-position: bottom;
	background-size:100%;
	color:#fff;
	padding:90px 30px;
	text-align:center;
	margin-bottom:80px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
}

.slider-section-hp p{
	font-size:17px;

}

input[type="submit"], input[type="button"], input[type="reset"], input[type="file"] {
	padding: 10px 15px;
	background-color: #e74c3c;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#fff;
}

.sitedir-ltr #mw-search-top-table input{
	border: 1px solid #ccc;
	padding: 9px;
	margin-right: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.project-ideas {
	margin-bottom:20px;
	margin-top: 33px;
}

#role {
	color: #e74c3c;
}

.contribute-block-title{
	font-size:24px;
	font-weight: bold;
}

.contribute-block .glyphicon {
	font-size:39px;
}

.contribute-block {
	padding: 70px 0px;
	background-color: #fff;	
	cursor:pointer;
	text-align: center;
	border:1px solid #333333;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top:30px;
}

.contribute-block:hover {
	background-color:#e74c3c;
	color:#fff;
	border:1px solid #e74c3c;
}

.contribuer-subtitle{
	border-bottom: 1px solid #eeeeee;
	padding-bottom: .2em;
}

.tuto-main-image img{
	width:100%;
	height:100%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #eee;
	border-bottom: 5px solid #EEE;
}

.tuto-step-image img{
	width:100%;
	height:100%;
}

.tuto-step-image{
	border:1px solid #e7e7e7;
}

.tofix-list-intro{
	color:#ababab;
	border-bottom: 1px dotted #ddd;
	padding-bottom:10px;
}


.hrContentMinor{
	background-image :url('images/bg-dot-separator.jpg');
	height: 0;
	font-size: 0;
	line-height: 0;
	margin: 8px 0;
	border: 0;
	border-bottom: 1px dotted transparent;
}

.hrContentMinor-2{
	background-image :url('images/bg-dot-separator.jpg');
	height: 0;
	font-size: 0;
	line-height: 0;
	margin: 18px 0px 10px 0px;
	border: 0;
	border-bottom: 1px dotted transparent;
}


.tuto-details-autor {
	padding: 15px 5px 3px 20px;
	background-color: #f8f8f8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.tuto-details-materials li {
	font-size: 12px;
}


.tuto-details-tools li {
	font-size: 12px;
}

.tuto-details-must-have{
	padding:8px;
	background-color: #f8f8f8;
	border:1px solid #e7e7e7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.tuto-details-box .glyphicon{
	padding-left:11px;
}

.bg-halfsquare-separator{
	background-image :url('images/bg-halfsquare-separator.jpg');
	height: 24px;
	font-size: 0;
	line-height: 0;
	margin: 8px 0;
	border: 0;
}

.tuto-details-author-photo img{
	width:90px;
	height:90px;
	-webkit-border-radius: 100%;
	border:1px solid #e7e7e7;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

.tuto-details-about-title {
	color:#ababab;
}

.tuto-details-author-followers {
	float: left;
	width: 50%;
	text-transform: capitalize;
}

.tuto-details-author-hometown {
	font-size:13px;
	color:#ababab;
	margin: 5px 0px 10px 0px;
}

.stat-count {
	font-size:15px;
	width:100%;
	display: block;
}

.tuto-details-author-name{
	font-weight:bold;
	font-size:15px;
}

.tuto-main-image-title {
	font-weight:bold;
	font-size:13px;
	margin-bottom:5px;
}

.navbar{
	border:none;
	border-bottom:1px solid #e7e7e7;
	border-radius:0px;
}

.cont-no-pad {
	padding-right:0px;
	padding-left:0px;
}

.main-explore{
	background-image:url('images/bg-explore.jpg');
	background-size:100%;
	background-position:bottom;
	padding-bottom:80px;	
}

.main-contribute{
	background-image:url('images/bg-elec-wf.jpg');
	background-repeat: x-repeat;
	background-position:bottom;
	padding-bottom:50px;	
}


body.page-Accueil .contentHeader { display:none; }
body.page-Accueil .mw-body { margin-top:0px }
body.page-Accueil .navbar { margin-bottom:0px; border-bottom:0; }
body.page-Explorer .contentHeader { display:none; }
body.page-Explorer .mw-body { margin-top:0px }
body.page-Explorer .navbar { margin-bottom:0px; }
body.page-Contribuer .contentHeader { display:none; }
body.page-Contribuer .mw-body { margin-top:0px }
body.page-Contribuer .navbar { margin-bottom:0px; }

#n-Explorer:hover, #n-Contribuer:hover, #n-help:hover, { background-color:#fff; }

#sfForm table.formtable th {
	float: right;
	padding-right: 25px;
	padding-top:6px;
}

#sfForm textarea {
	width: 100%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 6px 8px;
	border: 1px solid #aaa;
}

#sfForm .text-field {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 6px 8px;
	border: 1px solid #aaa;
}

.mw-content-ltr .formInput {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 9px 8px;
	width: 50%;
	margin-right: 5px;
	border: 1px solid #aaa;
}

#sfForm table.formtable td {
	padding-top: 0px;
	padding-bottom: 12px;
}

.detail-area-field{
	margin-right:10px;
	padding-top: 5px;
}

.sfUploadable {
	background-color:#fff;
	border: 1px solid #337ab7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 8px 10px;
}

.detail-field{
	background-color:#fff;
	background-image :url('images/bg-dropdown.jpg');
	background-position :right;
	background-repeat :no-repeat;
	-webkit-appearance: inherit;
	padding: 5px 23px 5px 10px;
}

.detail-box{
	padding: 30px 4% 10px;
	background-color: #f1f1f1;
	border: 1px solid #cccccc;
}

.select2-container-multi .select2-choices{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.sf-select2-container{
	margin-bottom:0px;
}

label.checkboxLabel.detail-area-field{
	font-weight: normal;
}

.sfImagePreviewWrapper img {
	width:100%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #eee;
	border-bottom: 5px solid #EEE;
}

.sfImagePreviewWrapper {
	margin-top:10px;
}

.form-detail-title{
	font-size: 23px;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
	margin-bottom: 25px;
	margin-top: 10px;
}

